#small-tools-back-to-top {
    position: fixed;
    bottom: 20px;
    width: var(--back-to-top-size);
    height: var(--back-to-top-size);
    background: var(--back-to-top-bg-color);
    display: none;
    text-decoration: none;
    border-radius: 50%;
    transition: all 0.3s ease;
    z-index: 99999;
}

#small-tools-back-to-top.position-left {
    left: 20px;
}

#small-tools-back-to-top.position-right {
    right: 20px;
}

#small-tools-back-to-top:hover {
    filter: brightness(0.9);
}

#small-tools-back-to-top img {
    width: calc(var(--back-to-top-size) * 0.6);
    height: calc(var(--back-to-top-size) * 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#small-tools-back-to-top .default-arrow {
    color: #fff;
    font-size: calc(var(--back-to-top-size) * 0.6);
    width: var(--back-to-top-size);
    height: var(--back-to-top-size);
    line-height: var(--back-to-top-size);
    text-align: center;
    display: block;
} 